.Board {
}

.Board > .__row {
  display: flex;
}

.Board > .__row > .__cell {
  height: 74px;
  width: 74px;
  color: white;
  background: #cb4e4e;
  border-radius: 5px;
  margin: 6px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

.Board > .__row > .__cell.--empty {
  cursor: pointer;
}

.Board > .__row > .__cell.--empty:hover {
  background: #ab3c3c;
}
